# Binaries
**/bin/
!vendor/premake/bin/
bin-int/

# Rage files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Directories
Rage/vendor/VulkanSDK
Ragelnut/assets/cache
scripts/__pycache__